.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inline {
  display: flex;
  align-items: center;
}

.add-button {
  display: inline-block;
  padding: 8px 12px;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.add-button:hover {
  background-color: #45a049;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
}

.delete-button {
  padding: 4px 6px;
  font-size: 18px;
  background-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.delete-button:hover {
  color: red;
  background-color: transparent;
}

.delete-button:focus {
  outline: none;
}

.strike {
  text-decoration: line-through;
}

li {
  list-style: none;
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

.input {
  outline: none;
  padding: 8px;
  font-size: 16px;
  border: none;
  transition: box-shadow 0.3s ease;
  display: block;
  flex: 1;
}

.input:not([type="checkbox"]):hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}